<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TorchysTacos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1349B4AB1C42E71C0096837D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1349B4BF1C42E71D0096837D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1349B4CA1C42E71D0096837D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
